    <footer id="site-footer">
    <div>
    <footer class = "myfoot"></footer>
    <p style="color:rgb(102, 102, 102); font-size:10px; font-style:italic; padding-bottom:10px;">Handcrafted in New York City, design &amp; code by <br>Dora Jambor</p>
    </div>

    <script type="text/javascript" src="{{ .Site.BaseURL }}js/fittext.js"></script>
    <script type="text/javascript">
      $(".heading").fitText();
    </script>
    {{ if .Params.hasmath }}
        <script>renderMathInElement(document.body, {ignoredTags: []});</script>
    {{ end }}
    </footer>
