{{ $baseUrl := .Site.BaseURL }}
<nav class="navbar navbar-default navbar-fixed-top" id="navbar-main">
	<!-- <div class="head"> -->
	<!-- <a class = "icon" style="cursor:pointer" href= "https://twitter.com/dorajambor"><img src=twitter.png width=20 alt="t"></a> -->
	<!-- <a class = "icon" href= "https://www.linkedin.com/in/dorajambor"><img src=linkedin.png width=16 alt="in"></a> -->
	<!-- <a class = "icon" href= "https://github.com/dorajam"><img src=github.png width=16 alt="git"></a>	 -->
	<!-- <a class = "icon" href= "mailto:dorajambor@gmail.com"><img src=gmail.png width=16.5 alt="g"></a> -->
 	<!-- </div> -->

  
    <div class="container">
	    <a class = "icon" style="cursor:pointer" href= "https://twitter.com/dorajambor"><img src="/twitter.png" width=20 alt="t"></a>
					<a class = "icon" href= "https://www.linkedin.com/in/dorajambor"><img src="/linkedin.png" width=16 alt="in"></a>
					<a class = "icon" href= "https://github.com/dorajam"><img src="/github.png" width=16 alt="git"></a>	
					<a class = "icon" href= "mailto:dorajambor@gmail.com"><img src="/gmail.png" width=16.5 alt="g"></a>

          <div class="post-time" style="width:100; float:right">
          <a href="{{ .Site.BaseURL }}" alt="Home"><p style="font-size:15px">Home</p></a>
          <!-- <a href="http://dorajambor.com" alt="About"><p>About</p></a> -->
          </div>
    </div><!-- /.container -->
</nav>
